<div class="navbar navbar navbar-light bg-ligh doe-header">

    <a [routerLink]="['/']" class="navbar-brand">
      <img src="assets/img/logo.png" width="20%">
      <strong> Doar Faz Bem</strong>
    </a>

    <ul class="nav nav-pills" [hidden]="noUser()">
       <li class="nav-link"><a [routerLink]="['/Campanha']">Campanha</a></li>
       <li class="nav-link"><a [routerLink]="['/Pessoa']">Pessoa</a></li>
       <li class="nav-link"><a [routerLink]="['/Doação']">Doação</a></li>
    </ul>

</div>

