<div class="row">

  <div *ngFor="let Necessidade of Navigator.view(items)" class="col-sm-6 col-xs-12">
    <app-Necessidade-item [Necessidade]="Necessidade">
          <div *ngIf="isOwner(Necessidade)">
              <app-delete-button (delete)="remove(Necessidade)">
              </app-delete-button>            
          </div>
    </app-Necessidade-item>
  </div>
  <h4 *ngIf="!items" class="jumbotron ml-4">Nenhuma Campanha encontrada. :(</h4>
  
</div>

<app-navigator 
  [maxItems]="4"
  #Navigator
></app-navigator>