<div class="login-content">
  <div class="dfb-image">
    <img src='assets/img/logo.jpg'>
  </div>
  <div class="dfb-login">
    <form [formGroup]="loginForm" novalidate>
      <div class="form-group">
        <label>Email:</label>
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Senha:</label>
        <input formControlName="password" type="password" class="form-control">
      </div>
      <div class="form-group d-flex flex-row justify-content-center">
        <button (click)="doLogin()" type="button" [disabled]="!loginForm.valid" class="btn-login">Entrar
        </button>
      </div>
      <div>
        <div class="d-flex align-items-center">
          <!-- <a [routerLink]="['/esqueci-a-senha']">Esqueci a senha</a> -->
          <button (click)="forgotPassword()">Esqueci a senha</button>
        </div>
      </div>
      <div>
        <div class="d-flex align-items-center">
          <!-- <a [routerLink]="['/cadastrar']">Registre-se!</a> -->
          <button (click)="signUp()">
            Registrar!! [depois criar tela...]
          </button>
        </div>
      </div>
    </form>
  </div>
</div>