<div class="card mx-auto">
	<div class="card-header">
        Nova Campanha
    </div>

    <div class="card-body">
        <form [formGroup]="NecessidadeForm" novalidate> 
                <div class="form-row">
                    <div class="col">
                        <label>Descrição:</label>
                        <input formControlName="descricao" type="text" class="form-control" placeholder="descricao">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row">
                        <div class="col">
                            <label>Data:</label>
                            <input formControlName="data" type="text" class="form-control" placeholder="Data">
                        </div>
                    </div>
                        <div class="col">
                        <label>Quantidade:</label>
                        <input formControlName="quantidade" type="number" min="1" class="form-control" placeholder="Quantidade">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>logotipo:</label>
                        <input formControlName="logotipo" type="text" class="form-control" placeholder="logotipo">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Hashtags:</label>
                        <input formControlName="hashtags" type="text" class="form-control" placeholder="Hashtags">
                    </div>
                    <div class="col">
                        <label>Beneficiário:</label>
                        <input formControlName="pessoa" type="text" class="form-control" readonly>
                    </div>
                </div>


            <div class=" form-group">
                <button (click)="NecessidadeList.save(NecessidadeForm.value)" type="button" [disabled]="!NecessidadeForm.valid" 
                class="btn btn-red btn-block">
                  Gravar Necessidade
                </button>
            </div>
        </form>
    </div>

</div>

<app-Necessidade-list
#NecessidadeList
></app-Necessidade-list>
